<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Link Sharer</title>
</head>
<body>
<header>
    <h1>
        <span>L</span>ink <span>S</span>harer
    </h1>
    <app-navbar-item>Welcome</app-navbar-item>
</header>
<nav></nav>
</body>
</html>
